$heading_color: white;
$heading_color_bg: #001cd2;

// $bg: rgba(212, 208, 200, 1);
$bg: rgb(232, 228, 222);
$bg_main: rgb(242, 239, 232);

$primary: #001cd2;
$button_bg: rgb(243, 240, 235);

$sub_box_color: white;
$sub_button_shadow: rgba(212, 208, 200, 1);

$section-shadow:rgb(159, 153, 144);

$footer_color: white;


