@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+10&family=Micro+5&display=swap');

$h1_font: "Micro 5", sans-serif;
$h2_font: "Jersey 10", sans-serif;
$h3_font: "Jersey 10", sans-serif;
$button_font: "Jersey 10", sans-serif;

$nav_font: "Jersey 10", sans-serif;
$article_info_font: "Jersey 10", sans-serif;

$body_font: "Inter", sans-serif;
$footer_font: "Jersey 10", sans-serif;

$table_font: "Jersey 10", sans-serif;